{% extends "base.html.twig" %}

{% block navbar %}
    <div class="container">
        <div class="row">
            {{ include ('@Gauss/Default/layout/navbar.html.twig') }}
            <div class="page-head content-top-margin">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <ol class="breadcrumb">
                                <li><a href="index-2.html">Home</a></li>
                                <li class="active">Admin</li>
                            </ol>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.page-head -->

        </div>
    </div>
{% endblock %}
{% block slider %}
   {#{{ include ('@Gauss/Default/layout/slider.html.twig') }}#}
{% endblock %}

{% block collection %}
  {# {{ include ('@Gauss/Default/layout/collection.html.twig') }}#}
{% endblock %}

{% block promotion %}
   {#{{ include ('@Gauss/Default/layout/promotion.html.twig') }}#}
{% endblock %}

{% block content %}
<section class="section products-grid second-style">
   <div class="container">
      <div class="row">

         {% block shop_sidebar %}
            {{ include ('@Gauss/Admin/layout/admin-sidebar.html.twig') }}
         {% endblock %}

          {% block shop_body %}
              <div class="col-md-9" style="background-color: #E0E0E0;">

                  {{ form_start(form, { 'attr': {'class': 'inputs-border'}}) }}
                  <div class="form-group">
                      <div class="required">
                          {{ form_widget(form.nameProduct, { 'attr' : {'class' : 'form-control', 'placeholder' :  "Product 's name "} }) }}
                      </div>
                  </div>
                  <div class="form-group">
                      {{ form_widget(form.descriptionProduct, { 'attr' : {'class' : 'form-control', 'placeholder' :  "Product 's description "} }) }}
                  </div>

                  <div class="form-group">
                      {{ form_widget(form.category, { 'attr' : {'class' : 'form-control'} }) }}
                  </div>

                  <div class="form-group">
                      {{ form_widget(form.currentPrice, { 'attr' : {'class' : 'form-control', 'placeholder' :  "Current Price "} }) }}
                  </div>

                  <div class="form-group">
                      {{ form_widget(form.otherPrice, { 'attr' : {'class' : 'form-control', 'placeholder' :  "Other Price "} }) }}
                  </div>

                  <div class="form-group">
                      {{ form_widget(form.statusProduct, { 'attr' : {'class' : 'form-control', 'placeholder' :  "Status Product"} }) }}
                  </div>

                  <div class="form-group">
                      {{ form_widget(form.codeProduct, { 'attr' : {'class' : 'form-control', 'placeholder' :  "Code Product  "} }) }}
                  </div>

                  <div class="form-group">
                      {{ form_widget(form.classement, { 'attr' : {'class' : 'form-control', 'placeholder' :  "Classement Product  "} }) }}
                  </div>

                  <div class="form-group">
                      {{ form_widget(form.image) }}
                  </div>

                  {{ form_errors(form) }}
                  <div class="form-group">

                  {{ form_end(form) }}
                      </div>
              </div>

          {% endblock %}
      </div><!-- /.row -->
      </div>
   </div><!-- /.container -->
</section><!-- /.products-grid -->
{% endblock %}

{% block brands %}

{% endblock %}

{% block footer %}
   {{ include ('@Gauss/Default/layout/footer.html.twig') }}
{% endblock %}
