<div class="widget widget-categories">
    <h3 class="widget-title">Operations</h3>
    <ul>
{#        <li>
            <a href="{{ path('adminpage_add_product') }}">Add Product</a>
        </li>
        <li>
            <a href="{{ path('adminpage_add_category') }}">Add Category</a>
        </li>#}
        <li>
            <a href="#!">Users <span class="count">(6)</span> </a>
            <ul class="children">
                <li>
                    <a href="{{ path('adminpage_list_users') }}">list Users</a>
                </li>
                <li>
                    <a href="{{ path('adminpage_list_users') }}">Add Category</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#!">Category <span class="count">(6)</span> </a>
            <ul class="children">
                <li>
                    <a href="{{ path('adminpage_list_category') }}">list Category</a>
                </li>
                <li>
                    <a href="{{ path('adminpage_add_category') }}">Add User</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#!">Products <span class="count">(3)</span></a>
            <ul class="children">
                <li>
                    <a href="{{ path('adminpage_list_product') }}">list Products</a>
                </li>
                <li>
                    <a href="{{ path('adminpage_add_product') }}">Add Product</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#!">Abonnements IPTV <span class="count">(3)</span></a>
            <ul class="children">
                <li>
                    <a href="{{ path('adminpage_list_aboIptv') }}">list Abo_IPTV</a>
                </li>
                <li>
                    <a href="{{ path('adminpage_add_aboiptv') }}">Add Abo_IPTV</a>
                </li>
            </ul>
        </li>


{#        <li>
            <a href="#!">Couches <span class="count">(3)</span></a>
        </li>
        <li>
            <a href="#!">Lighting <span class="count">(4)</span></a>
        </li>#}
    </ul>
</div><!-- /.widget-categories -->