<div class="col-md-9">
    <div class="masonry row" id="zone">
        {% for product in pagination %}
            {% if product.category.id != 5 %}
        <div class="product col-md-4 col-sm-6 col-xs-12" data-product-id="1">
            <div class="inner-product">
                {% if (product.statusProduct == 1) %}
                    <span class="onsale">Sale!</span>
                {% elseif (product.statusProduct == 2) %}
                    <span class="onsale hot">Hot!</span>
                {% elseif (product.statusProduct == 3) %}
                    <span class="onsale new" style="background-color: #4DB6AC">New!</span>
                {% endif %}
                <div class="product-thumbnail">
                    <img src="{{ asset(product.image.webPath) }}" class="img-responsive" alt="">
                </div>
                <div class="product-details text-center">
                    <div class="product-btns">
										<span data-toggle="tooltip" data-placement="top" title="Add To Cart">
											<a href="{{ path('adminpage_add_to_cart',{'id_product' : product.id }) }}" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="Add to Favorites">
											<a href="{{ path('adminpage_add_to_wish',{'id_product' : product.id }) }}" class="li-icon add-to-fav"><i class="lil-favorite"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="View">
											<a href="{{ path('adminpage_view_product', {'id_product' : product.id }) }}" class="li-icon view-details"><i class="lil-search"></i></a>
										</span>
                    </div>
                </div>
            </div>
            <h3 class="product-title"><a href="#!">{{ product.nameproduct }}</a></h3>
            <div class="star-rating">

                <span style="width: {{ product.classement *20 }}%"></span>
            </div>
            <p class="product-price">
                <ins>
                    <span class="amount"> {{ product.currentprice }}.000 TTc</span>
                </ins>
            </p>
        </div><!-- /.product -->
            {% endif %}
        {% endfor %}
    </div><!-- /.masonry -->


</div>


<div class="col-lg-offset-8 col-lg-8 col-md-8 " style="margin-top: -95px;">
    {{ knp_pagination_render(pagination) }}
</div>
</div><!-- /.row -->



