<div class="col-md-9">
    <div class="row">
{#                    <div class="col-md-12 col-sm-12">
                          #}{#  <li class="active"> {{ pagination.getTotalItemCount }} Products</li>#}{#
                                        <a  class="btn btn-default">{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}
                                            <span class="badge">
                                                     {% if app.request.query.get('direction') == "desc" %}
                                                         <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                     {% else %}
                                                         <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                     {% endif %}
                                            </span></a>

                                        <a  class="btn btn-default">{{ knp_pagination_sortable(pagination, 'Title', 'a.nameProduct') }}
                                            <span class="badge">
                                                     {% if app.request.query.get('direction') == "desc" %}
                                                         <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                     {% else %}
                                                         <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                     {% endif %}
                                            </span></a>

                                        <a  class="btn btn-default">{{ knp_pagination_sortable(pagination, 'Price', 'a.currentPrice') }}
                                            <span class="badge">
                                                     {% if app.request.query.get('direction') == "desc" %}
                                                         <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                     {% else %}
                                                         <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                     {% endif %}
                                            </span></a>

                    </div>#}

     {#               <div class="col-md-4 col-lg-offset-4">
                         sorting of properties based on query components
                        <div>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</div>
                        <div{% if pagination.isSorted('a.nameProduct') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.nameProduct') }}</div>
                        <div{% if pagination.isSorted('a.currentPrice') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Price', 'a.currentPrice') }}</div>

                    </div>#}
    </div>
    <div class="masonry row">
        {% for product in pagination %}
            {% if product.category.id != 5 %}
        <div class="product col-md-4 col-sm-6 col-xs-12" data-product-id="1">
            <div class="inner-product">
                {% if (product.statusProduct == 1) %}
                    <span class="onsale">Sale!</span>
                {% elseif (product.statusProduct == 2) %}
                    <span class="onsale hot">Hot!</span>
                {% elseif (product.statusProduct == 3) %}
                    <span class="onsale new" style="background-color: #4DB6AC">New!</span>
                {% endif %}
                <div class="product-thumbnail">
                    <img src="{{ asset(product.image.webPath) }}" class="img-responsive" alt="">
                </div>
                <div class="product-details text-center">
                    <div class="product-btns">
										<span data-toggle="tooltip" data-placement="top" title="Add To Cart">
											<a href="{{ path('adminpage_add_to_cart',{'id_product' : product.id }) }}" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="Add to Favorites">
											<a href="{{ path('adminpage_add_to_wish',{'id_product' : product.id }) }}" class="li-icon"><i class="lil-favorite"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="View">
											<a href="{{ path('adminpage_view_product', {'id_product' : product.id }) }}" class="li-icon view-details"><i class="lil-search"></i></a>
										</span>
                    </div>
                </div>
            </div>
            <h3 class="product-title"><a href="#!">{{ product.nameproduct }}</a></h3>
            <div class="star-rating">

                <span style="width: {{ product.classement *20 }}%"></span>
            </div>
            <p class="product-price">
                <ins>
                    <span class="amount"> {{ product.currentprice }}.000 TTc</span>
                </ins>
            </p>
        </div><!-- /.product -->
            {% endif %}
        {% endfor %}
    </div><!-- /.masonry -->


</div>
<div class="col-lg-offset-8 col-lg-8 col-md-8 " style="margin-top: -95px;">
    {{ knp_pagination_render(pagination) }}
</div>
</div><!-- /.row -->



