<div class="widget widget-categories">
    <h3 class="widget-title">{{ 'label_filtre_category'|trans }}</h3>
    <ul>
        {% set i =0 %}
        {% for category in listCategory %}
            {% if category.id != 5 %}
            <li>
                <a href="{{ path('shoppage_category', { 'id_categ' : category.id, 'nom_categ' : names_url[i]  }) }}">{{ category.nom }}
                    <span class="count">({{ count[i] }})</span></a>
            </li>
            {% set i = i+1 %}
            {% endif %}
        {% endfor %}
        <li><a href="{{ path('shoppage_list_aboIptv') }}"> Abonnement IPTV <span class="count">({{ count[4] }})</span></a></li>
        <li><a href="{{ path('shoppage_center') }}"> Download Center</a></li>
    </ul>
</div><!-- /.widget-categories -->