<div class="section products" id="home-products" >
    <div class="container">
        <div class="row" >
            <div class="col-sm-12 section-title text-center">
                <h3><i class="line"></i>{{ 'home.label_Latest_Products'|trans }}<i class="line"></i></h3>
                <p>{{ 'home.label_parg_last_prod'|trans }}.</p>
            </div>
            <div class="col-sm-12">
                <div class="masonry row">
                    {% for product in listProduct %}
                        {% if product.category.id != 5 %}
                    <div class="product col-md-3 col-sm-3 col-xs-12" data-product-id="1">
                        <div class="inner-product">
                            {% if (product.statusProduct == 1) %}
                                <span class="onsale">Sale!</span>
                            {% elseif (product.statusProduct == 2) %}
                                <span class="onsale hot">Hot!</span>
                            {% elseif (product.statusProduct == 3) %}
                                <span class="onsale new" style="background-color: #4DB6AC">New!</span>
                            {% endif %}
                            <div class="product-thumbnail">
                                <img src="{{ product.image.webPath }}" class="img-responsive" alt="">
                            </div>
                            <div class="product-details text-center">
                                <div class="align-vertical">
                                    <h3 class="product-title">{{ product.nameProduct }}</h3>
                                    <p>{{ product.descriptionProduct |truncate(60, false, "...") }}</p>
                                    <p class="product-price">
                                        {% if(product.otherPrice > 0) %}
                                            <del>
                                                <span class="amount">{{ product.otherPrice }}.000 TTc</span>
                                            </del>
                                        {% endif %}
                                        <ins>
                                            <span class="amount">{{ product.currentPrice }}.000 TTc</span>
                                        </ins>
                                    </p>
                                    <div class="product-btns">
											<span data-toggle="tooltip" data-placement="top" title="Add To Cart">
												<a href="{{ path('adminpage_add_to_cart',{'id_product' : product.id }) }}" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
											</span>
											<span data-toggle="tooltip" data-placement="top" title="View">
												<a href="{{ path('adminpage_view_product', {'id_product' : product.id }) }}" class="li-icon view-details"><i class="lil-search"></i></a>
											</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.product -->
                    {% endif %}
                    {% endfor %}

                </div><!-- /.masonry -->
            </div>
            <div class="col-sm-12 text-center">
                <a href="{{ path('shoppage') }}" class="btn btn-default">{{ 'home.label_show_more'|trans }}</a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.products -->

<div class="most-popular section" style="width: 99.7%">
    <div class="bg-cover" style="background-image: url({{ asset('build/img/slides/2w.jpg') }})"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6 text-left">
                <div class="mask-left">
                    <div class="col-md-12">
                        <form action="#!" method="POST" class="inputs-border">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Email Address" name="email">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group text-right">
                                <button type="button" class="btn btn-default">{{ 'home.label_send_message'|trans }}</button>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.most-popular -->
