<div class="container">
    <div class="widgets">
        <div class="row">
            <div class="col-sm-3 widget widget-about">
                <h3 class="widget-title">Bizertenet</h3>
                <p>{{ 'header.label_parg_1'|trans }}</p>
            </div><!-- ./widget -->
            <div class="col-sm-4 widget widget-links">
                <h3 class="widget-title">My Account</h3>
                <div class="row">
                    <ul class="col-xs-4">
                        <li><a href="#!" class="effect">My Account</a></li>
                        <li><a href="#!" class="effect">My Order</a></li>
                        <li><a href="#!" class="effect">My Wishlist</a></li>
                        <li><a href="#!" class="effect">My Profile</a></li>
                        <li><a href="#!" class="effect">My Address</a></li>
                        <li><a href="#!" class="effect">My Products</a></li>
                    </ul>
                    <ul class="col-xs-8">
                        {{ render(controller('GaussBundle:Default:getCategMenu')) }}
                        <li><a href="{{ path('shoppage_list_aboIptv') }}"> Abonnement IPTV <span class="count">(2)</span></a></li>
                        <li><a href="{{ path('shoppage_center') }}"> Download Center</a></li>
                    </ul>
                </div>
            </div><!-- ./widget -->
            <div class="col-sm-3 widget widget-instagram">
                <h3 class="widget-title">Instagram</h3>
                <ul class="row">
                    <li class="col-xs-4">
                        <a href="#!">
                            <img src="{{ asset('build/img/products/15.jpeg') }}" class="img-responsive" alt="">
                        </a>
                    </li>
                    <li class="col-xs-4">
                        <a href="#!">
                            <img src="{{ asset('build/img/products/20.jpeg') }}" class="img-responsive" alt="">
                        </a>
                    </li>
                    <li class="col-xs-4">
                        <a href="#!">
                            <img src="{{ asset('build/img/products/18.jpeg') }}" class="img-responsive" alt="">
                        </a>
                    </li>
                    <li class="col-xs-4">
                        <a href="#!">
                            <img src="{{ asset('build/img/products/19.jpeg') }}" class="img-responsive" alt="">
                        </a>
                    </li>
                    <li class="col-xs-4">
                        <a href="#!">
                            <img src="{{ asset('build/img/products/24.jpeg') }}" class="img-responsive" alt="">
                        </a>
                    </li>
                    <li class="col-xs-4">
                        <a href="#!">
                            <img src="{{ asset('build/img/products/12.jpeg') }}" class="img-responsive" alt="">
                        </a>
                    </li>
                </ul>
            </div><!-- /.widget -->
            <div class="col-sm-2 widget widget-newsletter">
                <h3 class="widget-title">Join our Newsletter</h3>
                <ul class="social">
                    <li><a href="#!" target="_blank"><i class="lil-facebook"></i></a></li>
                    <li><a href="#!" target="_blank"><i class="lil-twitter"></i></a></li>
                    <li><a href="#!" target="_blank"><i class="lil-instagram"></i></a></li>
                    <li><a href="#!" target="_blank"><i class="lil-dribbble"></i></a></li>
                </ul>
<a href="http://www.referencementgratuit.com/" target="_blank" style="opcaity:0.1;">référencement gratuit dans Google</a>
            </div><!-- ./widget -->
        </div><!-- /.row -->
    </div><!-- /.widgets -->

    <div class="copy-right text-center">
        <p>© Copyright 2018. All Rights Reserved. Created by <a href="#!" class="effect">Bizertnet Team</a></p>
    </div>
</div><!-- /.container -->
