
<section class="most-popular section" style="margin-top: -25px;">
    <div class="bg-cover" style="background-image: url({{ asset('build/img/slides/2w.jpg') }})"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6 text-left">
                <div class="mask-left">
                    <h1>{{ 'header.label_Why_not_say'|trans }}&nbsp;<span class="autotype">Hello</span><span class="typed-cursor">?</span></h1>
                    <p class="description">{{ 'header.label_parg_1'|trans }}</p>

                    <div class="button-group" style="text-align: center">
                        <a href="{{ path('shoppage') }}" class="btn btn-primary">Shop Now</a>
                        <a href="{{ path('shoppage') }}" class="btn btn-default">Products</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.most-popular -->
