<link rel="stylesheet" href="{{ asset('test/css/a1.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('test/css/a2.css') }}" type="text/css" media="all" />
<div id="main_header" class="type1">
    <div class="tagline show_hide">
        <div class="container">
            <div class="fright">
                <div class="tagline_items">
                    <div class="log_in_out">
                        <a href="javascript:void(0);"><i class="fa fa-sign-in"></i> Login</a>
                        <!-- Login submenu -->
                        <div class="login_submenu">
                            <form action="javascript:void(0);" method="post">
                                <input type="text" placeholder="Email or Login*" value="" name="name">
                                <input type="password" placeholder="Password*" value="" name="password">
                                <div class="remember_me"><label><input name="remember" type="checkbox" checked value="remember">Remember Password?</label></div>
                                <a href="javascript:void(0);" class="shortcode_button left_icon btn_normal btn_type3"><i class="fa fa-sign-in"></i>Log in</a>
                            </form>
                        </div>
                        <!-- //Login submenu -->
                    </div>
                    <div class="cart_btn">
                        <a href="shop_cart.html" class="view_cart_btn"><i class="fa fa-shopping-cart"></i> $80.00 (2 items)</a>
                        <!-- Cart submenu -->
                        <div class="cart_submenu">
                            <div class="cart_wrap">
                                <ul class="product_posts">
                                    <li>
                                        <img src="img/shop/4.jpg" alt="" />
                                        <a href="shop_product.html" class="title">Duis Aute Irure Dolor</a>
                                        <div class="price">1<span>x</span>$1,190</div>
                                        <a class="remove_products" href="javascript:void(0);">Close</a>
                                    </li>
                                    <li>
                                        <img src="img/shop/2.jpg" alt="" />
                                        <a href="shop_product.html" class="title">Vestibulum Fringilla</a>
                                        <div class="price">1<span>x</span>$400</div>
                                        <a class="remove_products" href="javascript:void(0);">Close</a>
                                    </li>
                                </ul>
                                <div class="subtotal">Subtotal: <span>$1,590</span></div>
                                <a href="shop_cart.html" class="shortcode_button btn_normal btn_type3">View cart</a>
                                <a href="javascript:void(0);" class="shortcode_button btn_normal btn_type1 mr0">Checkout</a>
                            </div>
                        </div>
                        <!-- //Cart submenu -->
                    </div>
                    <div class="social_icons">
                        <ul>
                            <li><span>Follow:</span></li>
                            <li><a class="soc_fb" href="javascript:void(0);"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a class="soc_tweet" href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="soc_instagram" href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="soc_dribbble" href="javascript:void(0);"><i class="fa fa-dribbble"></i></a></li>
                            <li><a class="soc_pinterest" href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></li>
                            <li><a class="soc_flickr" href="javascript:void(0);"><i class="fa fa-flickr"></i></a></li>
                        </ul>
                    </div>
                    <div class="language_select">
                        <div class="selectBox">
                            <span class="selected"></span>
                            <span class="selectArrow"></span>
                            <div class="selectOptions">
                                <span class="selectOption" data-value="english"><img src="img/imgs/uk_flag.png" alt="" />Eng</span>
                                <span class="selectOption" data-value="germany"><img src="img/imgs/germany_flag.png" alt="" />Ger</span>
                                <span class="selectOption" data-value="france"><img src="img/imgs/france_flag.png" alt="" />Fr</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fleft">
                <div class="phone"><i class="fa fa-phone"></i> +1 (800) 456 37 96</div>
                <div class="email"><a href="mailto:#"><i class="fa fa-envelope"></i> info@yourdomain.com</a></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header_parent_wrap">
        <header>
            <div class="container">
                <div class="logo_sect">
                    <a href="index.html" class="logo"><img src="img/logo.png" class="logo_def" alt="" /><img src="img/retina/logo.png" class="logo_retina" alt="" /></a>
                </div>
                <div class="fright">
                    <nav>
                        <ul class="menu">
                            <li class="menu-item-has-children megamenu mega_submenu"><a href="javascript:void(0);">Home</a>
                                <div class="sub-nav">
                                    <div class="megamenu_wrap">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <ul class="sub-menu">
                                                        <li><a href="index.html">Personal Portfolio</a></li>
                                                        <li><a href="home_creative_agency.html">Creative Agency</a></li>
                                                        <li><a href="home_photo_studio.html">Photography Studio</a></li>
                                                        <li><a href="home_blog.html">Blog with Top Slider</a></li>
                                                        <li><a href="home_spa_onepage.html">Spa Onepage Scroll</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <ul class="sub-menu">
                                                        <li><a href="home_health_care.html">Health Care</a></li>
                                                        <li><a href="home_travel_agency.html">Travel Agency</a></li>
                                                        <li><a href="home_real_estate.html">Real Estate</a></li>
                                                        <li><a href="home_barber_shop.html">Barber Shop</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <ul class="sub-menu">
                                                        <li><a href="home_cleaning.html">Cleaning</a></li>
                                                        <li><a href="home_construction.html">Construction</a></li>
                                                        <li><a href="home_auto_service.html">Auto Service</a></li>
                                                        <li><a href="home_development_agency.html">Design Agency</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <ul class="sub-menu">
                                                        <li><a href="home_handyman.html">Handyman</a></li>
                                                        <li><a href="home_hosting.html">Hosting</a></li>
                                                        <li><a href="home_lawyer.html">Lawyer</a></li>
                                                        <li><a href="home_pets_grooming.html">Pets Grooming</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="current-menu-parent menu-item-has-children"><a href="javascript:void(0);">Pages</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children"><a href="javascript:void(0);">About</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="about.html">About 1</a></li>
                                                    <li><a href="about2.html">About 2</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="service.html">Services</a></li>
                                        <li><a href="careers.html">Careers</a></li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);">Gallery</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="gallery_grid.html">Grid</a></li>
                                                    <li><a href="gallery_masonry.html">Masonry</a></li>
                                                    <li><a href="gallery_round.html">Round</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="showreel.html">Showreel</a></li>
                                        <li class="current-menu-item"><a href="404.html">404 Error</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="typography.html">Typography</a></li>
                                        <li><a href="coming_soon.html">Coming Soon</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="javascript:void(0);">Portfolio</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children"><a href="javascript:void(0);">Grid</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="portfolio_1col.html">1 Column</a></li>
                                                    <li><a href="portfolio_2col.html">2 Columns</a></li>
                                                    <li><a href="portfolio_3col.html">3 Columns</a></li>
                                                    <li><a href="portfolio_4col.html">4 Columns</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="portfolio_masonry.html">Masonry</a></li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);">Single Post</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="portfolio_post_fullwidth.html">Fullwidth Post</a></li>
                                                    <li><a href="portfolio_post_right_sidebar.html">With Right Sidebar</a></li>
                                                    <li><a href="portfolio_post_left_sidebar.html">With Left Sidebar</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="javascript:void(0);">Blog</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="blog_fullwidth.html">Fullwidth Blog</a></li>
                                        <li><a href="blog_right_sidebar.html">With Right Sidebar</a></li>
                                        <li><a href="blog_left_sidebar.html">With Left Sidebar</a></li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);">Single Post</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="post_fullwidth.html">Fullwidth Post</a></li>
                                                    <li><a href="post_right_sidebar.html">With Right Sidebar</a></li>
                                                    <li><a href="post_left_sidebar.html">With Left Sidebar</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="javascript:void(0);">Shop</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="shop.html">All Products</a></li>
                                        <li><a href="shop_product.html">Single Product</a></li>
                                        <li><a href="shop_cart.html">Cart</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="javascript:void(0);">Contact</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="contact_fullwidth.html">Fullwidth</a></li>
                                        <li><a href="contact_sidebar.html">With Right Sidebar</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="top_search">
                        <a href="javascript:void(0);" class="search_btn not_click">Search Button</a>
                        <div class="top_search_wrap not_click">
                            <form name="search_form" method="get" action="#" class="search_form not_click">
                                <input type="text" name="s" value="" placeholder="Search" class="not_click">
                                <input type="submit" value="Go">
                            </form>
                        </div>
                    </div>
                    <div class="cart_in_header"></div><div class="socials_in_header"></div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </header>
    </div>
</div>




<script type="text/javascript" src="{{ asset('test/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('test/js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('test/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('test/js/modules.js') }}"></script>
<script type="text/javascript" src="{{ asset('test/js/theme.js') }}"></script>
