<div class="nav-container navbar-fixed-top nav-sticky">
    <nav class="sub-navbar">
        <div class="list-select">
            <div class="inner-select">
                <div class="selected">EN</div>
                <ul>
                    <li><a href="#!">EN</a></li>
                    <li><a href="#!">AR</a></li>
                    <li><a href="#!">TR</a></li>
                </ul>
            </div>
        </div>
        <div class="list-select">
            <div class="inner-select">
                <div class="selected"><i class="lil-dollar"></i></div>
                <ul>
                    <li><a href="#!"><i class="lil-dollar"></i></a></li>
                    <li><a href="#!"><i class="lil-gbp"></i></a></li>
                    <li><a href="#!"><i class="lil-try"></i></a></li>
                </ul>
            </div>
        </div>
        <ul class="pull-right list-inline">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user-circle" aria-hidden="true"></i> My account</a></li>
                <li><a href="wishlist.html">My Wishlist</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>

            {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user-circle" aria-hidden="true"></i> My account</a></li>
                <li><a href="wishlist.html">My Wishlist</a></li>
                <li><a href="wishlist.html"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>

            {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                <div class="list-select">
                    <div class="inner-select">
                        <div class="selected" style="margin-left: -39px;"><i class="fa fa-user-circle" aria-hidden="true"></i> My account</div>
                        <ul>
                            <li><a href="{{ path('fos_user_security_login') }}"> LOGIN </a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}"> REGISTER </a></li>
                        </ul>
                    </div>
                </div>
                <li><a href="wishlist.html">My Wishlist</a></li>

            {% endif %}

        </ul>
        <div class="clearfix"></div>
    </nav><!-- /.sub-navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img src="{{ asset('build/img/satellite.png') }}" alt="Sham Theme" class="img-responsive" style="max-width:40px; margin-top: -4px;">
                </a>
            </div>
            <ul class="navbar-nav navbar-icons">
                <li class="shopping-cart">
                    <a href="#!" class="li-icon" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        <i class="lil-shopping_cart"></i><span class="badge">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <div class="dropdown-wrap" slim-scroll="√">
                            <li>
                                <a href="product.html"><img src="{{ asset('build/img/products/2.jpg') }}" class="img-responsive product-img" alt=""></a>
                                <div class="product-details">
                                    <p class="product-title clearfix"><a href="product.html">Bag Dark Beige</a></p>
                                    <p class="product-price clearfix">
                                        <ins>
                                            <span class="amount">$66.50</span>
                                        </ins>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="product.html"><img src="{{ asset('build/img/products/24.jpg') }}" class="img-responsive product-img" alt=""></a>
                                <div class="product-details">
                                    <p class="product-title clearfix"><a href="product.html">Shoes Maroon</a></p>
                                    <div class="product-price clearfix">$80.99</div>
                                </div>
                            </li>
                            <li>
                                <a href="product.html"><img src="{{ asset('build/img/products/3.jpg') }}" class="img-responsive product-img" alt=""></a>
                                <div class="product-details">
                                    <p class="product-title clearfix"><a href="product.html">Unisex Cap</a></p>
                                    <div class="product-price clearfix">$99.99</div>
                                </div>
                            </li>
                            <li>
                                <a href="product.html"><img src="{{ asset('build/img/products/13.jpg') }}" class="img-responsive product-img" alt=""></a>
                                <div class="product-details">
                                    <p class="product-title clearfix"><a href="product.html">Twill Silk Scarf</a></p>
                                    <div class="product-price clearfix">$49.99</div>
                                </div>
                            </li>
                        </div>
                        <li class="dropdown-footer">
                            <a href="cart.html">View Cart</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#!" class="li-icon" id="trigger-overlay"><i class="lil-search"></i></a></li>
            </ul>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active">
                        <a href="index-2.html" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Home <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="index-2.html">Home Default</a></li>
                            <li><a href="index-3.html">Home Default Slider</a></li>
                            <li><a href="index-4.html">Home Overlay Products</a></li>
                            <li><a href="index-5.html#instagram">Home instagram section</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Shop <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="products.html">Full Width Shop</a></li>
                            <li><a href="products-with-filter.html">Shop With Filter</a></li>
                            <li><a href="products-sidebar-left.html">Sidebar Left</a></li>
                            <li><a href="products-sidebar-right.html">Sidebar Right</a></li>
                            <li><a href="product.html">Simple Product</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">eCommerce Pages <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="order-received.html">Order Received</a></li>
                            <li><a href="order-tracking.html">Order Tracking</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Pages <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="page.html">Page Default</a></li>
                            <li><a href="login-register.html">Login / Register</a></li>
                            <li><a href="404.html">Not Found (404)</a></li>
                            <li><a href="faqs.html">FAQ'S</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="{{ path('shoppage') }}">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </nav>
</div><!-- /.nav-container -->