<ul class="navbar-nav navbar-icons">
    <li class="shopping-cart">
        <a href="#!" class="li-icon" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            <i class="lil-shopping_cart"></i><span class="badge">{{ listproduct|length }}</span>
        </a>
        <ul class="dropdown-menu">
            <div class="dropdown-wrap" slim-scroll="√">
                {% if listproduct is not empty %}
                {% for product in listproduct %}
                    <li>
                        {% if  product.category.id != 5 %}
                        <a href="{{ path('adminpage_view_product', {'nom_product': product.nameProductUrl }) }}">
                            <img src="{{ asset(product.image.webPath) }}" class="img-responsive product-img" alt="">
                        </a>
                        {% else %}
                        <a href="{{ path('adminpage_view_product', {'nom_product': product.nameProductUrl }) }}">
                            <img src="{{ asset('build/img/products/p.png') }}" class="img-responsive product-img" alt="">
                        </a>
                        {% endif %}
                        <div class="product-details">
                            <p class="product-title clearfix"><a href="{{ path('adminpage_view_product', {'nom_product': product.nameProductUrl }) }}">{{ product.nameProduct  }}</a></p>
                            <p class="product-price clearfix">
                                <ins>
                                    <span class="amount">{{ product.currentPrice }}.000 TTc</span>
                                </ins>
                            </p>
                        </div>
                    </li>
                {% endfor %}
                    <li class="dropdown-footer">
                        <a href="{{ path('adminpage_view_cart') }}">View Cart</a>
                    </li>
                {% else %}
                    <li>
                        <a href="product.html">
                            <img src="{{ asset('build/img/empty.png') }}" class="img-responsive" alt="">
                        </a>
                        <br>
                        <p class="product-price clearfix">
                            <ins>
                                <span class="amount center">&nbsp; &nbsp; &nbsp; Your cart is empty .</span>
                            </ins>
                        </p>
                    </li>
                    <li class="dropdown-footer">
                        <a href="{{ path('adminpage_view_cart') }}">View Cart</a>
                    </li>
                {% endif %}
            </div>

        </ul>
    </li>
    <li>
        <form action="{{ path('shoppage') }}" method="GET" class="inputs-border inputs-bg">

            <a href="#" type="submit" class="li-icon" id="trigger-overlay" ><i class="lil-search"></i>

            </a>

        </form>

        </li>
</ul>


