<div class="section promotions no-padding-bottom small-padding-top" id="promotions">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <div class="promotion media">
                    <div class="media-left media-middle">
                        <i class="lil-local_atm"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{ 'home.label_payement'|trans }}</h3>
                        <p>
                            {{ 'home.label_payement'|trans }} via Paypal</br>
                            {{ 'home.label_payement'|trans }} via E-dinar <br>
                            {{ 'home.label_payement'|trans }} by bank transfer </br>
                            {{ 'home.label_payement'|trans }} via WU or Moneygram</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="promotion media">
                    <div class="media-left media-middle">
                        <i class="lil-public"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{ 'home.label_Customer_Service'|trans }} 24/6 </h3>
                        <p>Email: info@gagafree.com </br>
                            Tel2: 00216 98 631 165 </br>
                            Skype: gagafree </br>
                            viber: 00216 98 631 165</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="promotion media">
                    <div class="media-left media-middle">
                        <i class="lil-local_shipping"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{ 'home.label_Shipping'|trans }} <br> </h3>
                        <p>{{ 'home.label_Shipping_parg'|trans }}</p>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->
</div><!-- /.promotions -->
