{% extends "base.html.twig" %}

{% block navbar %}
<div class="container">
    <div class="row">
      {{ include ('@Gauss/Default/layout/navbar.html.twig') }}
    <div class="page-head content-top-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-7">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('homepage') }}">{{ 'navbar.label_home'|trans }}</a></li>
                        <li class="active">Shopping Cart</li>
                    </ol>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-head -->
    </div>
</div>
{% endblock %}
{% block content %}
<section class="section products-grid second-style" style="margin-top: -30px;">
   <div class="container">
      <div class="row">
         {% block shop_sidebar %}
            {{ include ('@Gauss/Shop/layout/shop-sidebar-view.html.twig') }}
         {% endblock %}
          {% block content_shop %}
              <div class="section" id="page-cart">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-9">
                              <div class="table-responsive">
                                  <table class="table cart-table" cellspacing="0">
                                      <thead>
                                      <tr>
                                          <th class="product-remove">&nbsp;</th>
                                          <th class="product-thumbnail">&nbsp;</th>
                                          <th class="product-name">Product</th>
                                          <th class="product-price">Price</th>
                                          <th class="product-quantity">Quantity</th>
                                          <th class="product-subtotal">Total</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      {% set subtotal = 0 %}
                                    {% if listproduct is not null %}
                                        {% for product in listproduct %}
                                                <tr class="item">
                                                    <form action="{{ path('adminpage_add_to_cart', {'id_product' : product.id}) }}" method="GET">
                                          <td scope="row" class="product-remove">
                                              <a href="{{ path('adminpage_delete_from_cart', {'id_product' : product.id}) }}" class="remove" title="Remove this item"><i class="lil-close"></i></a>
                                          </td>
                                          <td class="product-thumbnail">

                                                  {% if product.image is not null %}
                                              <a href="{{ path('adminpage_view_product', {'id_product' : product.id }) }}">
                                                      <img src="{{ asset(product.image.webPath) }}" class="img-responsive">
                                                  {% else %}
                                                  <a href="#">
                                                      <img src="{{ asset('build/img/products/p.png') }}" class="img-responsive">
                                                  {% endif %}
                                              </a>
                                          </td>
                                          <td class="product-name">
                                              <a href="#">{{ product.nameProduct }}</a>
                                          </td>
                                          <td class="product-price">
                                              <span class="amount">{{ product.currentPrice }}.000 TTc</span>
                                          </td>
                                          <td class="product-quantity">
                                              <div class="quantity">
                                                  <input type="button" value="+" class="plus">
                                                  <input id="n" type="number" name="qte" step="1" max="5" min="1" value="{{ panier[product.id] }}" title="Qty" class="qty" size="4">
                                                  <input type="button" value="-" class="minus">
                                              </div>

                                                  <button type="submit" class="btn btn-default"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>

                                          </td>
                                          <td class="product-subtotal">
                                              <span class="amount">{{ product.currentPrice * panier[product.id]}}.000 TTc</span>
                                              {% set subtotal = subtotal + (product.currentPrice * panier[product.id])  %}
                                          </td>
                                                    </form>
                                      </tr>
                                        {% endfor %}
                                    {% endif %}
                                      <tr>
                                          <td colspan="8" class="actions">
   {#                                           <div class="coupon col-md-4 col-sm-4 col-lg-offset-5 no-padding-left">
                                                  <div class="row">
                                                      <div class="col-xs-6">
                                                          <input type="text" class="form-control" placeholder="Coupon Code">
                                                      </div>
                                                      <div class="col-xs-6">
                                                          <input type="submit" class="btn btn-default" value="Apply Coupon">
                                                      </div>
                                                  </div>
                                              </div>#}

                                              <div class="cart-collaterals col-md-8 col-sm-8 col-lg-offset-4 no-padding-right">
                                                  <div class="cart-totals">
                                                      <h2>Cart Totals</h2>
                                                      <table class="table table-condensed" cellspacing="0">
                                                          <tbody>
                                                          <tr class="cart-subtotal">
                                                              <th>Subtotal</th>
                                                              <td class="text-right">
                                                                  <span class="amount">{{ subtotal }}.000 TTc</span>
                                                              </td>
                                                          </tr>
                                                          <tr class="shipping">
                                                              <th>Shipping</th>
                                                              <td class="text-right">
                                                                  <span class="amount">20.000 TTc</span>
                                                              </td>
                                                          </tr>
                                                          <tr class="order-total">
                                                              <th>Total</th>
                                                              <td class="text-right">
                                                                  <strong><span class="amount">{{ subtotal - 20 }}.000 TTc</span></strong>
                                                              </td>
                                                          </tr>
                                                          </tbody>
                                                      </table>
                                                      <div class="form-group clearfix">
                                                          <div class="pull-left">
                                                              <input type="submit" class="btn btn-primary" value="Update Cart">
                                                          </div>
                                                          <div class="pull-right text-right">
                                                              <a href="checkout.html" class="btn btn-default">Proceed to Checkout</a>
                                                          </div>
                                                      </div>

{#                                                      <div class="text-right">
                                                          <a href="#!" class="shipping-calculator-button effect" data-slide-toggle=".shipping-calculator-form">Calculate Shipping</a>
                                                      </div>

                                                      <div class="shipping-calculator-form inputs-border inputs-bg" style="display: none;">
                                                          <div class="form-group">
                                                              <select class="form-control">
                                                                  <option>Select a Country..</option>
                                                                  <option value="SY">Syria</option>
                                                                  <option value="UK">United Kingdom</option>
                                                                  <option value="US">United States</option>
                                                                  <option value="TR">Turkey</option>
                                                              </select>
                                                          </div>
                                                          <div class="form-group">
                                                              <select class="form-control">
                                                                  <option>Select an City..</option>
                                                                  <option value="SY">Syria</option>
                                                                  <option value="UK">United Kingdom</option>
                                                                  <option value="US">United States</option>
                                                                  <option value="TR">Turkey</option>
                                                              </select>
                                                          </div>
                                                          <div class="form-group">
                                                              <input type="text" class="form-control" placeholder="Postcode / Zip">
                                                          </div>
                                                          <div class="form-group text-right">
                                                              <button type="submit" class="btn btn-default">Update Totals</button>
                                                          </div>
                                                      </div>#}
                                                  </div>
                                              </div>
                                          </td>
                                      </tr>

                                      </tbody>
                                  </table>
                              </div><!-- /.table-responsive -->
                          </div>
                      </div><!-- /.row -->
                  </div><!-- /.container -->
              </div><!-- #page-cart -->
          {% endblock %}

      </div>
   </div><!-- /.container -->
    <div style="margin-top: 60px;" class="footer">
        {{ include ('@Gauss/Default/layout/footer-menu.html.twig') }}
    </div>
</section><!-- /.products-grid -->
{% endblock %}

{% block brands %}

{% endblock %}

{% block footer %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}
