{% extends "base.html.twig" %}

{% block navbar %}
    <div class="container">
        <div class="row">
            {{ include ('@Gauss/Default/layout/navbar.html.twig') }}
      <div class="page-head content-top-margin" style="width: 99% !important;">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-sm-7">
               <ol class="breadcrumb">
                   <li><a href="{{ path('homepage') }}">{{ 'navbar.label_home'|trans }}</a></li>
                   <li><a href="{{ path('shoppage') }}">{{ 'navbar.label_shop'|trans }}</a></li>
               </ol>
            </div>
         </div><!-- /.row -->
      </div><!-- /.container -->
      </div><!-- /.page-head -->

        </div>
    </div>
{% endblock %}
{% block content %}
<section class="section products-grid second-style">
   <div class="container">
      <div class="row">

         {% block shop_sidebar %}
            {{ include ('@Gauss/Shop/layout/shop-sidebar.html.twig') }}
         {% endblock %}

          {% block content_shop %}
              {{ render(controller('GaussBundle:Shop:getProduct',{'page' : page, 'price' : price, 'param' : param, 'nom_prod' : nom_prod })) }}
          {% endblock %}
      </div>
       <div style="margin-top: 60px;" class="footer">
           {{ include ('@Gauss/Default/layout/footer-menu.html.twig') }}
       </div>
   </div><!-- /.container -->


</section><!-- /.products-grid -->
{% endblock %}


{% block footer %} {% endblock %}
