{% extends "base.html.twig" %}
{% block title %} {{ parent() }} | {{ 'navbar.label_contact'|trans }} {% endblock %}
{% block navbar %}
   <div class="container">
      <div class="row">
         {{ include ('@Gauss/Default/layout/navbar.html.twig') }}
      </div>
   </div>
{% endblock %}

{% block content %}
   <div class="container">
      <div class="row">
         <div class="page-head content-top-margin">
            <div class="container">
               <div class="row">
                  <div class="col-md-8 col-sm-7">
                     <ol class="breadcrumb">
                        <li><a href="#">{{ 'navbar.label_home'|trans }}</a></li>
                        <li class="active">{{ 'navbar.label_contact'|trans }}</li>
                     </ol>
                  </div>
               </div><!-- /.row -->
            </div><!-- /.container -->
         </div><!-- /.page-head -->
         </div>
      </div>
   <div class="container">
      <div class="row">

         <div class="page-wrapper">
            <section class="section" id="contact-info">
               <div class="container">
                  <div class="row">
                     <div class="col-md-4">
                        <h3 class="no-margin-top">Why not say <span class="autotype">Hello</span><span class="typed-cursor">?</span></h3>
                        <p class="description">
                            {{ 'contact.msg'|trans }}
                        </p>

                        <div>
                           <p><strong>Phone:</strong> +216 023 643 393</p>
                           <p><strong>Email:</strong> info@bizertenet.com</p>
                           <p><strong>Address:</strong> Menzel Jemil, Bizerte, Tunisie</p>
                        </div>
                     </div>
                     <div class="col-md-8">
                        <form action="#!" method="POST" class="inputs-border">
                           <div class="form-group">
                              <input class="form-control" type="text" placeholder="Name" name="name">
                           </div>
                           <div class="form-group">
                              <input class="form-control" type="text" placeholder="Email Address" name="email">
                           </div>
                           <div class="form-group">
                              <textarea class="form-control" name="message" placeholder="Message"></textarea>
                           </div>
                           <div class="form-group text-right">
                              <button type="button" class="btn btn-default">Send Message</button>
                           </div>
                        </form>
                     </div>
                  </div><!-- /.row -->
               </div><!-- /.container -->
            </section>

            <section class="section no-padding-bottom" id="contact-map">
               <div class="container">
                  <div class="row">
                     <div class="map-wrapper col-sm-12">
                        <div id="map" data-lat="40.9803480" data-long="28.7270580" data-title="Liliom Lab" data-subtitle="Istanbul, Turkey"></div>
                     </div><!-- /.map-wrapper -->
                  </div><!-- /.row -->
               </div><!-- /.container -->
            </section>
         </div><!-- /.page-wrapper -->


      </div>
   </div>
   <!-- Google Map -->
   <div style="margin-top: 60px;" class="footer">
      {{ include ('@Gauss/Default/layout/footer-menu.html.twig') }}
   </div>
   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
{% endblock %}


{% block footer %}
   {{ include ('@Gauss/Default/layout/footer.html.twig') }}
{% endblock %}
