{% extends "base.html.twig" %}

{% block navbar %}

   <div class="container">
      <div class="row">
         {{ include ('@Gauss/Default/layout/navbar.html.twig') }}
      </div>
   </div>

{% endblock %}
{% block slider %}
   <div class="container">
      <div class="row">
         {{ include ('@Gauss/Default/layout/header.html.twig') }}
{% endblock %}
{% block collection %}
  {# {{ include ('@Gauss/Default/layout/collection.html.twig') }}#}
   {{ render(controller('GaussBundle:Default:getCollection')) }}
{% endblock %}

{% block promotion %}

   {{ include ('@Gauss/Default/layout/promotion.html.twig') }}
{% endblock %}

{% block footer %}

      </div>
   </div>
   <div style="margin-top: 60px;" class="footer">
      {{ include ('@Gauss/Default/layout/footer-menu.html.twig') }}
   </div>
{% endblock %}
