{% extends "base.html.twig" %}

{% block navbar %}

   <div class="container">
      <div class="row">
      <div class="panel panel-default">
         {{ include ('@Gauss/Default/layout/navbar.html.twig') }}
      </div>
      </div>
   </div>

{% endblock %}


{% block slider %}
   <div class="container">
      <div class="row">
         {{ include ('@Gauss/Default/layout/slider.html.twig') }}
      </div>
   </div>

{% endblock %}

{% block collection %}
   {{ include ('@Gauss/Default/layout/collection.html.twig') }}
{% endblock %}

{% block promotion %}
   {#{{ include ('@Gauss/Default/layout/promotion.html.twig') }}#}
{% endblock %}

{% block content %}

{% endblock %}

{% block brands %}

{% endblock %}

{% block footer %}
   {{ include ('@Gauss/Default/layout/footer.html.twig') }}
{% endblock %}
